  .banner {
        background-color: #3498db; /* Example: a shade of blue */
        color: white; /* Text color */
        padding: 20px; /* Spacing around the text */
        text-align: center; /* Center the text */
        width: 100%; /* Make the banner span the full width */
    }
  .banner2 {
        background-color: #ff0000; /* Example: a shade of blue */
        color: white; /* Text color */
        padding: 20px; /* Spacing around the text */
        text-align: center; /* Center the text */
        width: 100%; /* Make the banner span the full width */
    }
