  .banner {
        background-color: #3498db; /* Example: a shade of blue */
        color: white; /* Text color */
        padding: 20px; /* Spacing around the text */
        text-align: center; /* Center the text */
        width: 100%; /* Make the banner span the full width */
    }
  .banner2 {
        background-color: #CF4B00; /* Example: a shade of red */
        color: white; /* Text color */
        padding: 20px; /* Spacing around the text */
        text-align: center; /* Center the text */
        width: 100%; /* Make the banner span the full width */
    }
.button {
  background-color: black;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {border: 2px solid #04AA6D;}
.button2 {border: 2px solid #008CBA;}
.button3 {border: 2px solid #f44336;}
.button4 {border: 2px solid #e7e7e7;}
.button5 {border: 2px solid #555555;}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4:hover {background-color: #e7e7e7;}

.button5:hover {
  background-color: #555555;
  color: white;
