  .banner {
        background-color: #3498db; /* Example: a shade of blue */
        color: white; /* Text color */
        padding: 20px; /* Spacing around the text */
        text-align: center; /* Center the text */
        width: 100%; /* Make the banner span the full width */
    }
  .banner2 {
        background-color: #CF4B00; /* Example: a shade of red */
        color: white; /* Text color */
        padding: 20px; /* Spacing around the text */
        text-align: center; /* Center the text */
        width: 100%; /* Make the banner span the full width */
    }
.button1 {
  border: none;
  background-color: blue; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
